<div class="row">
    <div class="col-2" *ngFor="let nomad of nomads">
        <app-nomad-card [nomad]="nomad"></app-nomad-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" previousText="&lsaquo;" nextText="&rsaquo;"
        firstText="&laquo;" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" lastText="&raquo;">
    </pagination>
</div>